

<div class="about-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 banner-heading">
                <h1 class="primary-heading">Contact Us</h1>
                <p class="desc-text">Home/Contact Us</p>
            </div>
            <div class="col-md-6"> 
                <img src="./assets/images/contactusbanner.png" class="about-us-banner" alt="">
            </div>
        </div>
    </div>
</div>

<div class="get-in-touch">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="primary-heading">Get in touch with us</h1>
                <p class="desc-text">If you would like to consult with us on any subject, please fill out the form below. We will get in touch with you as soon as possible.</p>
            </div>
        </div>
    </div>
</div>

<div class="form">
    <div class="container">
        <div class="row">
            <div class="col-md-7 form-address">
                <form [formGroup]="loginForm">
                <h5>Full Name</h5>
                <input type="text" class="form-control" name="name" placeholder="Enter your full name" formControlName="name" />
                <span style="color: red;" *ngIf="name && name.invalid && name.touched">*required</span>
                <h5>Email</h5>
                <input type="email" class="form-control" name="email" placeholder="Enter your email address" formControlName="email"/>
                <span style="color: red;" *ngIf="email && email.invalid && email.touched">*required</span>
                <h5>Phone</h5>
                <!-- <select>
                    <option>+966</option>
                    <option>+685</option>
                    <option>+685</option>
                    <option>+685</option>
                    <option>+685</option>
                </select> -->
                <input type="tel" class="form-control" name="number" placeholder="Enter your phone number" formControlName="number" />
                <span style="color: red;" *ngIf="number && number.invalid && number.touched">*required</span>
                <h5>Message</h5>
                <textarea placeholder="Enter your message" class="form-control" name="message" formControlName="message"></textarea>
                <span style="color: red;" *ngIf="message && message.invalid && message.touched">*required</span>
                <button class="round-button">SUBMIT</button>
                </form>
            </div>




            <div class="col-md-5">
                <div class="full-address">
                    <ul>
                        <li><a><img src="./assets/images/location.png" alt=""></a></li>
                        <li class="primary-heading heading-location"><a>Location</a></li>
                        <li class="desc-text"><a>Anas Bin Malik Road Riyadh, Saudi Arabia</a></li>
                        <li><a><img src="./assets/images/phone.png" alt=""></a></li>
                        <li class="heading-location"><a>Contact</a></li>
                        <li class="desc-text"><a>+966 050 166 3132</a></li>
                        <li class="desc-text"><a>info@starm.health</a></li>
                        <li><a><img src="./assets/images/clock.png" alt=""></a></li>
                        <li class="heading-location"><a>Opening Hours</a></li>
                        <li class="desc-text"><a>Monday - Friday <span> 8.00-17.00</span></a></li>
                        <li class="desc-text"><a>Saturday</a> <span> 9.30-17.30</span></li>
                        <li class="desc-text"><a>Sunday</a> <span> 9.30-15.00</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="map-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14492.63580271387!2d46.622490038147305!3d24.75573869999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee3c5e178b15f%3A0xaeffa585edc3f95b!2sRiyadh%20Park!5e0!3m2!1sen!2sin!4v1685700511625!5m2!1sen!2sin" width="100%" height="450"></iframe>
            </div>
        </div>
    </div>
</div>
