.footer{
    background-color: black;
    padding-top: 4rem;
    padding-bottom: 4rem;
    font-family: regular;
    .footer-link-container{
        img:hover{
            color: #E45C3A;
        }
        p{
            color: #fff;
        }
        ul{
            padding: 0;

            li{
                color: #fff;
                opacity: 0.7;
                list-style-type: none;
                line-height: 2;

                a:hover{
                    color: #E45C3A;
                    transition: .3s;
                    cursor: pointer;
                 }
            }
        }
    
    
    }

}