<div class="footer">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-md-6">
                <img src="./assets/images/starm-logo.png" alt="">
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-link-container">
                <p>Information</p>
                <ul>
                    <li><a>Home</a></li>
                    <li><a>Our Team</a></li>
                    <li><a>Blog</a></li>
                    <li><a>Contact Us</a></li>
                </ul>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-link-container">
                <p>Our Services</p>
                <ul>
                    <li><a>About Obesity</a></li>
                    <li><a>Women and Overweight</a></li>
                    <li><a>Childhood Obesity</a></li>
                    <li><a>Psychological Health</a></li>
                    <li><a>Diet and Nutrition</a></li>
                    <li><a>Sports and Obesity</a></li>
                </ul>
                <button class="round-button" routerLink="/bmi-calculator">BMI Calculator </button>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <div class="footer-link-container">
                <p>Get in Touch</p>
                <ul>
                    <a><img src="./assets/images/tweet.png" alt=""></a>
                    <li><a>Anas Bin Malik Road Riyadh, Saudi Arabia</a></li>
                    <li><a>+966 050 166 3132</a></li>
                    <li><a>info@starm.health</a></li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</div>
