

<div class="about-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 banner-heading">
                <h1 class="primary-heading">Our Services</h1>
                <p class="desc-text">Home/Our Services</p>
            </div>
            <div class="col-md-6"> 
                <img src="./assets/images/home-banner.png" class="about-us-banner" alt="">
            </div>
        </div>
    </div>
</div>

<div class="treatment">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="primary-heading">Effective Treatments of Obesity</h1>
                <p class="desc-text">Overweight and obesity are defined as abnormal or excessive fat accumulation that is dangerous to health.</p>
            </div>
        </div>
    </div>
</div>

<div class="service-list-container">
    <div class="container">
        <div class="row service-item-container">

            <div class="col-md-6">
                <img src="./assets/images/obesity.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="service-desc">
                    <h4 class="primary-heading">About Obesity</h4>
                    <p class="desc-text">Overweight and obesity are defined as abnormal or excessive fat accumulation that is dangerous to health. A body mass index (BMI) over 25 is considered overweight, and over 30 is considered obese.</p>

                    <p class="desc-text">Obesity is a complex disease that involves an excessive amount of fat in the body. Obesity is not just a cosmetic problem. It is a medical problem that increases the risk of other diseases and health problems, such as heart disease, diabetes, high blood pressure, and certain types of cancer.</p>

                    <p class="desc-text">There are many reasons why some people find it difficult to lose weight. Obesity is usually caused by genetic, physiological, and environmental factors combined with diet, physical activity, and exercise choices.</p>

                </div>
            </div>
        </div>

        <div class="row service-item-container">

            <div class="col-md-6">
                <div class="service-desc">
                    <h4 class="primary-heading">About Obesity</h4>
                    <p class="desc-text">For women, obesity can lead to problems with the reproductive system. And studies show that severe cases of obesity can reduce your life expectancy, especially if you're young.</p>
    
                    <p class="desc-text">For women, obesity can lead to problems with the reproductive system. And studies show that severe cases of obesity can reduce your life expectancy, especially if you're young.</p>

                </div>
            </div>
            <div class="col-md-6">
                <img src="./assets/images/overweight.png" alt="">
            </div>
        </div>

        <div class="row service-item-container">

            <div class="col-md-6">
                <img src="./assets/images/childhood.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="service-desc">
                    <h4 class="primary-heading">Childhood Obesity</h4>
                    <p class="desc-text">Childhood obesity is a serious medical condition affecting children and adolescents. It's especially annoying because excess weight often pushes kids down the path of health problems that were previously considered adult issues like diabetes, high blood pressure, and high cholesterol. Childhood obesity can also lead to poor self-esteem and depression.</p>

                   
                </div>
            </div>
        </div>

        <div class="row service-item-container">

            <div class="col-md-6">
                <div class="service-desc">
                    <h4 class="primary-heading">Psychological Health</h4>
                    <p class="desc-text">It can cause depression and trigger stress, which in turn may cause a change in eating and activity habits. Many people who have difficulty recovering from sudden or emotionally draining events (for example, the loss of a close friend or family member, relationship difficulties, losing a job or facing a serious medical problem), inadvertently start eating a lot of foods. Wrong or give up exercise. Before long, these become habits and are hard to change.</p>
    
                    <p class="desc-text"> Binge eating, a behavior linked to obesity and other conditions such as anorexia nervosa, is also a symptom of depression.</p>

                </div>
            </div>
            <div class="col-md-6">
                <img src="./assets/images/psycho.png" alt="">
            </div>
        </div>

        <div class="row service-item-container">

            <div class="col-md-6">
                <img src="./assets/images/diet.png" alt="">
            </div>
            <div class="col-md-6">
                <div class="service-desc">
                    <h4 class="primary-heading">Diet and Nutrition</h4>
                    <p class="desc-text">Diet and lifestyle factors contribute to infection Obesity and weight gain. Some of the most common ones are:</p>
                    <ul>
                        <li>Eat large amounts of processed or fast foods, which are foods rich in fat and sugar.</li>
                        <li>Eating out a lot, food cooked in a restaurant may be higher in fat and sugar.</li>
                        <li>Eat more than the body needs.</li>
                        <li>Drink a lot of sugary drinks, including soda and fruit juice.</li>
                        <li>Comfort Eating: Some people may eat comfortably due to many other factors affecting their lives such as low self-esteem or a bad mood.</li>
                    </ul>

                   
                </div>
            </div>
        </div>

        <div class="row service-item-container">

            <div class="col-md-6">
                <div class="service-desc">
                    <h4 class="primary-heading">Sports and Obesity</h4>
                    <p class="desc-text">When you lose weight, more physical activity increases the number of calories your body uses for energy, or "calorie burn." Burning calories through physical activity combined with reducing the number of calories you eat creates a "calorie deficit" that leads to weight loss.
                        Most weight loss occurs due to a decrease in calorie intake. However, evidence suggests that the only way to maintain weight loss is to engage in regular physical activity.</p>
    
                    <p class="desc-text">More importantly, physical activity reduces the risk of cardiovascular disease and diabetes beyond that resulting from weight loss alone.</p>

                </div>
            </div>
            <div class="col-md-6">
                <img src="./assets/images/sports.png" alt="">
            </div>
        </div>



        </div>
  



</div>


    <div class="container">
        <div class="row">
            <div class="col-md-12 strip-book">
                <div class="all-info">
                    <h4 class="primary-heading">We provide top medical care. Book an appointment now.</h4>
                    <p class="desc-text">Fill out the Booking Form and we will contact you as soon as possible to confirm the booking date.</p>
                </div>
                <a class="round-button">Book Now</a>
            </div>
        </div>
    </div>


