

.about-starm{
    padding-top: 4rem;
    padding-bottom: 4rem;

    .col-md-6{
        img{
            width: 100%;
        }
    }
    .banner-heading{
    .starm{
        color:  #0E9080;
        font-size: 14px;
        font-family: semi-bold;
      }
    }

}

.our-vision{
    color: #fff;
    background-color: #E45C3A;
    margin-top: 4rem;
    margin-bottom: 5rem;
    padding-top: 3rem;

    .col-md-6{
        img{
            width: 100%;
        }
    }
}

.contact-us-banner{
    color: #fff;
    margin-bottom: 5rem;

    .row{
        border-radius: 1.5rem;
        overflow: hidden;
    
    .contact-us-item{
        padding: 4rem 4rem;
        a{
            font-family: semi-bold;
            font-size: 3rem;
            margin-top: 0.5rem;
            text-decoration: none;
            display: block;
        }
    }
    .about-number{
        background-color: #0E9080;
        position: relative;

        .mail-img{
            position: absolute;
            top: 50%;
            right: -4rem;
            transform: translateY(-50%);
            width: 8rem;
            padding: 1rem;
            border: 1px solid #fff;
            border-radius: 50%;

            img{
                width: 6rem;
                background: #fff;
                border-radius: 50%;
                padding: 1rem;
            }
        }
    }
    .about-email{
        background-color: #E45C3A;
    }
}
}