

<div class="about-container">
    <div class="container">
        <div class="row">
            <div class="col-md-6 banner-heading">
                <h1>About Us</h1>
                <h3>Home / About Us</h3>
            </div>
            <div class="col-md-6"> 
                <img src="./assets/images/about-us-banner-img.png" class="about-us-banner" alt="">
            </div>
        </div>
    </div>
</div>

<div class="about-starm">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="./assets/images/men.png" alt="">
            </div>
            <div class="col-md-6 banner-heading">
                <p class="starm">About STARM</p>
                <h1 class="primary-heading">We carefully manage the treatment of patients</h1>
                <p class="desc-text">STARM is a platform for comprehensive and therapeutic obesity education and counseling starm (Behavior feeding activities sport treatment). STARM (Style Training Activity Regimen Management) The Starm platform was founded in 2023 and is a group that includes a team of doctors, specialists and trainers specialized in the treatment and prevention of obesity and overweight.</p>
                <button class="round-button">Contact Us</button>
            </div>
        </div>
    </div>
</div>

<div class="our-vision">
    <div class="container">
        <div class="row">
            <div class="col-md-6 banner-heading">
                <p class="starm">Starm vision</p>
                <h1 class="primary-heading">Our Vision has to provide the best treatment and services to our patients.</h1>
                <p class="desc-text">We seek to be the leading platform for remote care of obesity and overweight patients by providing integrated consultations, health education, and psychological and physical awareness.</p>
            </div>
            <div class="col-md-6">
                <img src="./assets/images/vision.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="contact-us-banner">
    <div class="container">
        <div class="row">
            <div class="col-md-6 contact-us-item about-number">
                <span>Call us any time</span>
                <a>+966 050 166 3132</a>
                <div class="mail-img">
                    <img src="./assets/images/mail.png" alt="">
                </div>
            </div>
            <div class="col-md-6 contact-us-item about-email">
                <span>24/7 EASY SUPPORT</span>
                <a>info@starm.health</a>
            </div>
        </div>
    </div>
</div>


