

<div class="offcanvas offcanvas-end" tabindex="-1" id="contactUsOffCanvas" aria-labelledby="contactUsOffCanvasLabel">


    <div class="offcanvas-header">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close">
            <img src="./assets/img/close-white.svg" alt="">
        </button>
    </div>
    <div class="offcanvas-body">
        <div class="canvas-logo-container">
            <img src="./assets/img/starm-logo.svg" alt="">
            <p>Clinical Consultations and Diagnosis Bariatric and Metabolic Surgeries Interdisciplinary Monitoring</p>
        </div>
        <div class="canvas-data-container">
            <h4>We are here</h4>
            <p>Anas Bin Malik Road Riyadh, Saudi Arabia</p>
        </div>
        <div class="canvas-data-container">
            <h4>Contact Us</h4>
            <a href="tel:+9660501663132" dir="ltr">+966 050 166 3132</a>
            <a href="mailto:info@starm.health">info@starm.health</a>
        </div>
        <div class="canvas-data-container">
            <h4>Opening Hours</h4>
            <p>Monday to Friday</p>
            <p>9:00 am — 5:00 pm</p>
        </div>
        <div class="canvas-data-container">
            <h4>Follow us</h4>
            <div class="canvas-social">
                <a href="#"><img src="./assets/img/footer-insta.svg" alt=""></a>
                <a href="#"><img src="./assets/img/footer-snap.svg" alt=""></a>
                <a href="#"><img src="./assets/img/footer-twitter.svg" alt=""></a>
            </div>
        </div>
    </div>
</div>

