
<h1 mat-dialog-title>Delete file</h1>





<div mat-dialog-content>


            <div class="employee-personal-info">
                <div class="employee-img">
                    <img src="./assets/images/doctor.png" alt="">
                </div>
                <div class="employee-desc">
                    <p class="name">{{data.name}}</p>
                    <p class="profile">{{data.position}}</p>

                </div>
            </div>
            <div class="employee-professional-info">
                <div class="professinal-info-item">
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                </div>
                <div class="professinal-info-item">
                    <h4>LANGUAGES</h4>
                    <p>Hindi, Urdu, English, Arabic</p>
                </div>
                <div class="professinal-info-item">
                    <h4>SPECIALIZATION</h4>
                    <p>Surgeon & Endoscopist</p>
                </div>
                <div class="professinal-info-item">
                    <h4>TYPE OF PHYSICIAN</h4>
                    <p>Full Time</p>
                </div>
                <div class="professinal-info-item">
                    <h4>EDUCATION</h4>
                   <ul>
                        <li> MBBS From University name</li>
                        <li>FRCS From Royal College of Surgeon In Ireland</li>
                   </ul>
                </div>
                <div class="professinal-info-item">
                    <h4>PROFESSIONAL EXPERIENCE</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, corporis.</li>
                        <li>In totam laborum, iste debitis doloribus laboriosam ducimus perspiciatis ea.</li>
                        <li>Placeat assumenda nam ipsum, perferendis ratione dicta! Maiores, cupiditate incidunt!</li>
                        <li>Numquam totam illum in sunt doloremque dolorum veniam quos dolorem!</li>
                        <li>Labore distinctio facilis obcaecati laborum quas saepe assumenda aperiam architecto!</li>
                    </ul>
                </div>
                <div class="professinal-info-item">
                    <h4>CLINICAL EXPERTISE</h4>
                    <ul>
                        <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis libero repudiandae optio!</li>
                        <li>Aliquid enim corrupti similique vitae, reiciendis placeat nulla hic non tempore commodi?</li>
                        <li>At non blanditiis amet, tempore facere impedit aliquam iusto doloremque ab totam.</li>
                        <li>Aspernatur laudantium dolor dolorem, iusto quas asperiores ex libero voluptatibus ratione a?</li>
                        <li>Provident facilis neque, voluptate alias aut error quasi ipsam similique temporibus. Quis.</li>
                    </ul>
                </div>
            </div>


        </div>
 






<div mat-dialog-actions>
  <button mat-button mat-dialog-close>No</button>
  <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
</div>


